html {
    box-sizing: border-box;
  }

  html {
    font-size: 175%;
    font-weight: 300;
    line-height: 1.3;
  }
  
  html{
    align-items: center;
    background-image: linear-gradient(236deg, #74ebd5, #acb6e5);
    height: 100vh;
    justify-content: center;
  }

  .container {
    text-align: center;
  }

  .calculator__display {
    border-radius: 12px;
    background-color: #222222;
    color: #fff;
    font-size: 1.714285714em;
    padding: 0.5em 0.75em;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
     margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 15em;
     overflow: hidden;
  }

  .calculator__keys > * {
    background-color: #fff;
    padding: 0.5em 1.25em;
    position: relative;
    text-align: center;
  }